*{
    box-sizing: border-box;
}

.header{
    max-height: 250px;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-img{
    width: 50%;
    padding: 15px;
}