

.header{
    max-height: 250px;
    width: 100%;
    background-color: pink;
}

.header-img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-top: auto;
    padding-top: 10px;
    margin-right: auto;
    justify-content: center;
}